.form {
  display: inline-block;
  text-align: left;
}

.form .row {
  margin-top: 10px;
}

.form button {
  vertical-align: top;
}

.form label {
  display: inline-block;
  font-weight: bold;
  margin-right: 10px;
  text-align: right;
  vertical-align: top;
  width: 90px;
}

.form input,
.form select,
.form textarea {
  border-radius: 4px;
  margin-right: 10px;
  padding: 4px;
}
